files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFODCCBCCgAwIBAgIIS150qvTbMKcwDQYJKoZIhvcNAQELBQAwgbQxCzAJBgNV
      BAYTAlVTMRAwDgYDVQQIEwdBcml6b25hMRMwEQYDVQQHEwpTY290dHNkYWxlMRow
      GAYDVQQKExFHb0RhZGR5LmNvbSwgSW5jLjEtMCsGA1UECxMkaHR0cDovL2NlcnRz
      LmdvZGFkZHkuY29tL3JlcG9zaXRvcnkvMTMwMQYDVQQDEypHbyBEYWRkeSBTZWN1
      cmUgQ2VydGlmaWNhdGUgQXV0aG9yaXR5IC0gRzIwHhcNMTgwMzA1MTYzMTA0WhcN
      MTkwMzA1MTYzMTA0WjA9MSEwHwYDVQQLExhEb21haW4gQ29udHJvbCBWYWxpZGF0
      ZWQxGDAWBgNVBAMTD3R1Y29tcHJlbmRzLmNvbTCCASIwDQYJKoZIhvcNAQEBBQAD
      ggEPADCCAQoCggEBALf6Ot5CpEa9YhTm6H44a9eFHeEd4IzsrcPFI6s5mPQOtMyj
      QPI5xxc7dE9rQkWQSGBpOkMH///hK+DUIGAi14u926vRNB8t7TG235SSJ26yPvt4
      xpXj6qb2hkPTHfxKMSX4l3SlXgXmefwYVGOVc7y0gr/Kf1LXg+Z8hORO9QNOu/NZ
      eqk5m+AL4MTI1ljbgF9IjPmxNbveF4rZ/wPBAoZcjH2WACzYJUifzMr4UyhMigJa
      WlLxKqAKazBZkE4Ok/CkD9x0ZSNucviDiwWDEAeNMBNd6V5h7RU0gBR1kVP2yvd3
      Ek+AY/fP6asHg8LfW3mu+KBk79Cm6VvkeBXIsOsCAwEAAaOCAcIwggG+MAwGA1Ud
      EwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMA4GA1UdDwEB
      /wQEAwIFoDA3BgNVHR8EMDAuMCygKqAohiZodHRwOi8vY3JsLmdvZGFkZHkuY29t
      L2dkaWcyczEtODEyLmNybDBdBgNVHSAEVjBUMEgGC2CGSAGG/W0BBxcBMDkwNwYI
      KwYBBQUHAgEWK2h0dHA6Ly9jZXJ0aWZpY2F0ZXMuZ29kYWRkeS5jb20vcmVwb3Np
      dG9yeS8wCAYGZ4EMAQIBMHYGCCsGAQUFBwEBBGowaDAkBggrBgEFBQcwAYYYaHR0
      cDovL29jc3AuZ29kYWRkeS5jb20vMEAGCCsGAQUFBzAChjRodHRwOi8vY2VydGlm
      aWNhdGVzLmdvZGFkZHkuY29tL3JlcG9zaXRvcnkvZ2RpZzIuY3J0MB8GA1UdIwQY
      MBaAFEDCvSeOzDSDMKIz1/tss/C0LIDOMC8GA1UdEQQoMCaCD3R1Y29tcHJlbmRz
      LmNvbYITd3d3LnR1Y29tcHJlbmRzLmNvbTAdBgNVHQ4EFgQUwr+CV/qe8nhZCCo8
      pMe+gPQ/j9swDQYJKoZIhvcNAQELBQADggEBAF3GmtSOwhht6CxhXqxTAI8t6m6v
      4SXvUyTn9qtBY3ClmvMqa4610OjY88ouzJPWQMjvnURMtC/n0YkYnsonbdlN2e7t
      daneTv47+XNZaYlWokL45mnXUBdGqTgUkzLXMfF5Ud7ZKUlksS+QibBjn8f+fp4R
      s4Cd/Fux5eNDARQa4ltIV95ujyzPTVRiZlWn13JRlRoD7vpwohg0SlwQLeCM5ck3
      RKQNYyikg7IIcgZpL8xcJh3f+hWYFiCak75C52PNge33VEmSAo4cHUF0KayAJlok
      SlJnxav5Ft3EJ9vPwSA5qvfX950sXy/n2oJ8soEH901prpu89FmNYWGEuDA=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC3+jreQqRGvWIU
      5uh+OGvXhR3hHeCM7K3DxSOrOZj0DrTMo0DyOccXO3RPa0JFkEhgaTpDB///4Svg
      1CBgIteLvdur0TQfLe0xtt+Ukidusj77eMaV4+qm9oZD0x38SjEl+Jd0pV4F5nn8
      GFRjlXO8tIK/yn9S14PmfITkTvUDTrvzWXqpOZvgC+DEyNZY24BfSIz5sTW73heK
      2f8DwQKGXIx9lgAs2CVIn8zK+FMoTIoCWlpS8SqgCmswWZBODpPwpA/cdGUjbnL4
      g4sFgxAHjTATXeleYe0VNIAUdZFT9sr3dxJPgGP3z+mrB4PC31t5rvigZO/Qpulb
      5HgVyLDrAgMBAAECggEAcqiUv6gw0ZV95yDxjJiFPVBNCtuf8rQep3/ZdwDyfkgc
      Dd1AwLWZirUXC9gA+XGuaceq89OsjEA9JGWPt9p/EyxEF5TOMxBgXzdlqCZeRPL5
      pafju87LkzrY+rQ8X9utPcjsO1pEetDk/WP8VAP0mYq2YelF6M8/+QlpmRBMSr5b
      yM2OzlPRzIKanmT36d0JUnn/ozen8b4vtS1tRsgkmahx6K7eCLn0vMgKcnpcK0mk
      Wd8tKIvZ42Gge8nR+REbBKYfLpHWG378qb+C6RT4V063fAEAvYP8MnqBarIy/4Jn
      bfLwYZNFtu29Yl3nFP05kwWjYJmPKSplUp+hN6SHgQKBgQDp3mnaKh3bAy3Vrfx8
      Pi5awkBGTzXCVx+HsdMTbh0nAjpCpJphuzPZgrbnTh1A05ZMHzBzSwbj7Xr4/nOU
      KGlUmKPgDP1qnbblXpcaydyBrVT4/uhy8Mjv71dUSdHcnordAPv5gRjiqkOk3i6O
      XD2X/O5G92m/ND/21QcX7ieJuwKBgQDJYyyaIRNg/TtDRFRsQ098nOLbWrxdZcJJ
      1BS4D/Pc6Kl/xKumhPJOyh3mwCQpfHaQTH1riGw6njsVP3KFnkr9xad2J8IpjBQD
      lK7CdlFH2dyp1oFd3ilv7r2uutje8U60ElhPDoNWnkesKtFtn5DzMiV24S89IR5G
      qKEhiDEqkQKBgQCXbBN7VyOnh4JoxNMimpwm1XkKTQUQxJo8oK16+iPT+wQ/3BW9
      S5lBrvm///q+24CH3vXe4GggscWabB3ngtbYGFCao659FoqyLjGF/cdRCypmYZ2d
      tjtT5tLTV0yTHO/qMlXzcVvsfrN3jwfz0tNqkjCxMEZ+r1Tu+3UxUFi3OwKBgGTf
      m0i8xpMvZM7l3A+6i4cUooFTasSxoucOJy6nNvRxSe2o2n33W9PhY6bgmXx6Tn0r
      Ayuo0uVtupSDCl8pkdCZf68sbRIYizHb+MmJMF94HhKoUnZtQH5DrJloGBdb8Zs7
      ESbQUzNA5w+zBuINKjLW7HMmil3pR9wGvWcpa88xAoGBAMzfkfDsL4JzpEmA4ezF
      9vSh94faUrDw+O8FBPjo/amuH9TnjbJrpP+fzUOoQtwjIsnha18Jf+UZX2jIV+Hg
      qvbYzllUsPZWSVFNLN7VwBTc2uMt9/jsqKWDhkIrp1vmuItS36poWERtkZEHq1m3
      JJOd9JikEFSKhKisbBfi0Lxh
      -----END PRIVATE KEY-----