<form [formGroup]="selectLanguagesForm">
  <label class="control-label" for="nativeLanguageSelect">Translate</label>
  <select id="nativeLanguageSelect" class="form-control" formControlName="nativeLanguageSelect" class="nav-item dropdown show">
    <option value=null disabled selected hidden>--Select--</option>
    <option *ngFor="let x of myLanguages.languages"
            [ngValue]="x">{{ x.nativeName }}</option>
  </select>

  <label class="control-label" for="foreignLanguageSelect">and</label>
  <select id="foreignLanguageSelect" class="form-control" formControlName="foreignLanguageSelect" class="nav-item dropdown show">
    <option value=null disabled selected hidden>--Select--</option>
    <option *ngFor="let x of myLanguages.languages"
            [ngValue]="x">{{ x.nativeName }}</option>
  </select>
</form>

