<form [formGroup]="translateAudioForm">
  <div>
    <div *ngIf="!recording">
      <button class="btn btn-primary" (click)="onStartRecording()">Start Recording</button>
    </div>
    <div *ngIf="recording">
      <button class="btn btn-primary" (click)="onStopRecording()">Stop Recording and Translate</button>
    </div>
  </div>
  <div>
    <label>I heard {{getSourceLanguage().name}}</label>
    <br>

    <textarea class="form-control" readonly="readonly" [innerHTML]="originalText"></textarea>
  </div>
  <div>
    <label>{{getTargetLanguage().name}}</label>
    <br>

    <textarea class="form-control" readonly="readonly" [innerHTML]="translatedText"></textarea>
  </div>
</form>
