<form [formGroup]="translateAudioForm">
  <div>
    <label>Speak in {{getSourceLanguage().name}}</label>
    <br>

    <textarea class="form-control" readonly="readonly" [innerHTML]="originalText"></textarea>
  </div>
  <br>
  <div class="text-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <div *ngIf="!recording">
        <fa class="btn btn-outline-primary" [name]="'microphone'" [size]=2 (click)="onStartRecording()"></fa>
      </div>
      <div *ngIf="recording">

        <fa class="btn btn-outline-primary" [name]="'stop-circle'" [size]=2 (click)="onStopRecording()"></fa>
      </div>
      <fa class="btn btn-outline-secondary" [name]="'exchange'" [rotate]="90" [size]=2 (click)="flipTranslation()"></fa>
    </div>
  </div>
  <br>
  <div>
    <label>Read in {{getTargetLanguage().name}}</label>
    <br>

    <textarea class="form-control" readonly="readonly" [innerHTML]="translatedText"></textarea>
  </div>
</form>
