<form [formGroup]="translateAudioForm">
  <div>
    <label><fa [name]="'microphone'" [size]=1></fa> {{getSourceLanguage().nativeName}}</label>
    <br>
    <div class="row">
      <textarea class="form-control  col-md-11 col-sm-10" rows="5" readonly="readonly"
                [innerHTML]="originalText"></textarea>
      <button class="btn btn-primary col-md-1 col-sm-2" type="button" [disabled]="originalAudioSrc === ''" (click)="playAudio('original')">
        <fa [name]="'volume-up'" [size]=2 ></fa>
      </button>
    </div>
  </div>
  <br>
  <div class="text-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <div *ngIf="!recording">
        <fa class="btn btn-primary" [name]="'microphone'" [size]=2 (click)="onStartRecording()"></fa>
      </div>
      <div *ngIf="recording">

        <fa class="btn btn-primary" [name]="'stop-circle'" [size]=2 (click)="onStopRecording()"></fa>
      </div>
      <fa class="btn btn-secondary" [name]="'exchange'" [rotate]="90" [size]=2 (click)="flipTranslation()"></fa>
    </div>
  </div>
  <div>
    <label><fa [name]="'align-left'" [size]=1></fa>{{getTargetLanguage().nativeName}}</label>
    <br>
    <div class="row">
      <textarea class="form-control col-md-11 col-sm-10" rows="5" readonly="readonly"
                [innerHTML]="translatedText"></textarea>
      <button class="btn btn-primary col-md-1 col-sm-2" type="button" [disabled]="translateAudioSrc === ''" (click)="playAudio('translated')">
        <fa [name]="'volume-up'" [size]=2 ></fa>
      </button>
    </div>
  </div>
</form>
