<form [formGroup]="translateForm">
  <app-select-languages-component [parentForm]="translateForm"></app-select-languages-component>

  <div id="accordion">
    <div class="card">
      <div class="card-header" (click)="showCard('translateText')" >
        <h5 class="mb-0">
          <fa [name]="'align-left'" [size]=1></fa>
        </h5>
      </div>
      <div id="translateText" [ngClass]="cardToShow == 'translateText' ? 'collapse show' : 'collapse'"  aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <app-translate-text [parentForm]="translateForm"></app-translate-text>
        </div>
      </div>
    </div>
      <div calss="card">
        <div class="card-header" (click)="showCard('translateAudio')" >
          <h5 class="mb-0">
            <fa [name]="'microphone'" [size]=1></fa>
          </h5>
        </div>
        <div id="translateAudio" [ngClass]="cardToShow == 'translateAudio' ? 'collapse show' : 'collapse'" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <app-translate-audio *ngIf="!isMobile()" [parentForm]="translateForm"></app-translate-audio>
            <app-mobile-placeholder *ngIf="isMobile()"></app-mobile-placeholder>
          </div>
        </div>
      </div>
      <div calss="card">
        <div class="card-header" (click)="showCard('translateImage')" >
          <h5 class="mb-0">
            <fa [name]="'camera'" [size]=1></fa>
          </h5>
        </div>
        <div id="translateImage" [ngClass]="cardToShow == 'translateImage' ? 'collapse show' : 'collapse'" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <app-translate-image *ngIf="!isMobile()" [parentForm]="translateForm"></app-translate-image>
            <app-mobile-placeholder *ngIf="isMobile()"></app-mobile-placeholder>
          </div>
        </div>
      </div>

  </div>
</form>
