<form [formGroup]="translateForm" (ngSubmit)="onTranslateSubmit()">
  <div class="form-group">
    <label>Source Text</label>
    <input class="form-control" formControlName="sourceText">
  </div>
  <button type="submit" [disabled]="translateForm.pristine" class="btn btn-primary">Translate</button>
  <br><br>
  <div class="form-group">
    <label>Translated Text</label>

    <blockquote class="blockquote" [innerHTML]="translatedText"></blockquote>
  </div>
</form>
<input type="file" id="textImage" (change)="onFileChange($event)" #fileInput>
<ack-webcam
  [(ref)]   = "webcam"
  [options] = "webcamOptions"
  (success) = "onCamSuccess($event)"
  (catch)   = "onCamError($event)"></ack-webcam>
<button (click)="genBase64()"> generate base64 </button>
