<form [formGroup]="translateImageForm">
  <div *ngIf="cameraOn" class="text-center">
      <ack-webcam *ngIf="!translating"
                  [(ref)]   = "webcam"
                  [options] = "webcamOptions"
                  [useParentWidthHeight] = "useParentWidthHeight"
                  [facingMode]  = "facingMode"
                  (success) = "onCamSuccess($event)"
                  (catch)   = "onCamError($event)"></ack-webcam>
      <img *ngIf="translating" src="{{imageSource}}" class="translate-image" />
  </div>
  <div class="text-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <div *ngIf="!cameraOn">
        <fa  class="btn btn-primary" [name]="'camera'" [size]=2 (click)="turnCameraOn()"></fa>
      </div>
      <div *ngIf="cameraOn">
        <fa *ngIf="!translating"  class="btn btn-primary" [name]="'image'" [size]=2 (click)="genBase64Image()"></fa>
        <fa *ngIf="translating"  class="btn btn-outline-primary" [name]="'image'"></fa>
      </div>
      <fa class="btn btn-secondary" [name]="'exchange'" [rotate]="90" [size]=2 (click)="flipTranslation()"></fa>
    </div>
  </div>
  <div class="form-group">
    <label>{{getSourceLanguage().nativeName}}</label>
    <div class="row">
      <textarea class="form-control col-md-11 col-sm-10" readonly="readonly" [innerHTML]="translatedText"></textarea>
      <button class="btn btn-primary col-md-1 col-sm-2" type="button" [disabled]="translateAudioSrc === ''" (click)="playAudio('translated')">
        <fa [name]="'volume-up'" [size]=2 ></fa>
      </button>
    </div>
    <br/>
    <label>{{getTargetLanguage().nativeName}}</label>
    <div class="row">
      <textarea class="form-control col-md-11 col-sm-10" readonly="readonly" [innerHTML]="originalText"></textarea>
      <button class="btn btn-primary col-md-1 col-sm-2" type="button" [disabled]="originalAudioSrc === ''" (click)="playAudio('original')">
        <fa [name]="'volume-up'" [size]=2 ></fa>
      </button>
    </div>
  </div>
</form>
